.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    
    border-radius: 6px;
    padding: 3rem;
    background-color: white;
    width: 25em;
  }

.modal-input{
    width: 100%;
    padding: 10px;
    border: 2px solid #8A4893;
    border-radius: 6px;
}

.modal-button{

margin-top: 10px;
padding: 10px;
padding-left: 53px;
padding-right: 53px;
cursor: pointer;
font-weight:bolder;
background-color: #8A4893;
border: none;
border-radius: 6px;
color:white;
}